thead {
    background-color: darkblue;
    color: white;
}

.container {
    margin-top: 20px;
}

.card-header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table {
    margin-bottom: 0;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-data {
    text-align: center;
    padding: 20px;
    font-style: italic;
}

