<!DOCTYPE html>
    <html>
    <head>
        <title>Alumnos</title>

        <link href="./css/Alumnos.css" rel="stylesheet" />
    </head>

    <body>
    
        <header>
            <h1>Alumnos</h1>

        </header>
        
        <main>

        </main>
        
        <footer>

        </footer>

    </body>
    </html>

@code {

}
