@page "/"

@* <PageTitle>Home</PageTitle> *@

<!DOCTYPE html>

    <html>

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Instituto Técnico Córdoba</title>
          

            <link href="./css/Home.css" rel="stylesheet" />
        </head>

        <body>

            <header>

                <h1 class="titulo-principal">Instituto Técnico Córdoba</h1> 
                
                <div class="contenedor-img">
                    <img src="https://8048bf14c1.clvaw-cdnwnd.com/f80d7a5356be0d319861778d7e89b608/200002435-152d7152da/Logo%20para%20WEB%202-edit-20230311142853.jpg?ph=8048bf14c1" alt="logo-instituto" />
                </div>

                <h2 class="titulo-secundario">Bienvenidos</h2>
                
                <nav class="navegacion-principal"> 
                
                    <a href="/">Inicio</a>

                    <a href="/Nosotros">Sobre Nosotros</a>
                    
                    <a href="/Programas">Programas</a>
                    
                    <a href="/Contacto">Contacto</a>
                    
                </nav>
                    
                        

           </header>

            
            <main>
                
                <section>
                    
                   
                    
                    <div class="contenedorImg-code">
                        <img src="https://8048bf14c1.clvaw-cdnwnd.com/f80d7a5356be0d319861778d7e89b608/system_preview_detail_200002378-a7643a7646/Captura%20de%20pantalla_20221213_133206.png" alt="Bienvenida al Instituto Técnico Córdoba">
                    </div>

                    <p class="text-center">Una institución comprometida con la excelencia educativa.</p>
                    

                </section> 
                
                <section class="bg-info"> 
                    <h2 class="text-center border-3 border-danger p-2 text-uppercase">Noticias Recientes</h2> 
                    <p>Leer más sobre nuestras noticias.</p> 
                    <a href="news.html">Ver todas las noticias</a> 
                </section>

                <section class="bg-info">
                    <h2 class="text-center border-3 border-danger p-2 text-uppercase">Nuestros Programas</h2>
                    <p>Descubre los programas educativos que ofrecemos.</p>
                    <a href="programs.html">Más información</a>
                </section>

                <section class="bg-info">
                    
                    <h2 class="text-center border-3 border-danger p-2 text-uppercase">Contacto</h2>
                    
                    <p>Dirección: Calle Ejemplo 123, Córdoba</p>
                    <p>Teléfono: +54 9 1234 5678</p>
                    <p>Email: contacto@itc.com.ar</p>
                    
                  

                    <div class="contenedor-mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.142919098631!2d-64.20809112468389!3d-31.410188195951235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329884c0299c4b%3A0x585c8ed38f38e06e!2sR%C3%ADo%20Negro%2077%2C%20X5000%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1735982432885!5m2!1ses-419!2sar" 
                            width="600" height="450" allowfullscreen="" loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>

                </section>
                    
            </main>
                   
            <footer>
                <p>&copy; 2025 Instituto Técnico Córdoba. Todos los derechos reservados.</p>
            </footer>
                    
        </body>

    </html>
               
            
            





