@page "/"

@* <PageTitle>Home</PageTitle> *@

<!DOCTYPE html>
    <html>

        <head>
            <title>Home</title>
        </head>

        <body>

            <h1>Hello, world!</h1>
            <h2>Bienvenido al Front - End del proyecto !!!!!!! </h2>

            <p>Welcome to your new app.</p>

        </body>

    </html>
