@page "/Nosotros"
@inject IHttpServicio http

<!DOCTYPE html>
    <html>
    <head>
        <title>Nosotros</title>
    </head>

    <body>
        <header>
            <h1 class="text-center text-danger bg-dark">Nosotros</h1>
        </header>
        
        <main>

        </main>
        
        <footer>
             <p>Todos los derechos reservados</p>
        </footer>
    
    </body>
    </html>


