@page "/Programas"
@inject IHttpServicio http


<!DOCTYPE html>
    <html>
    
    <head>
        <title></title>
    </head>
    
    <body>
    
        <header>
            <h1 class="text-center text-danger bg-dark">Programas</h1>
        </header>

        <main>

        </main>

        <footer>

        </footer>
    
    </body>
    </html>


