<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    
    <body>
        
        <header>
            <h1 class="btn btn-succes">Editar Alumno</h1>
            
        </header>
    
        <main>

        </main>
        
        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
