@page "/api/Alumnos"

<!DOCTYPE html>
    <html>
    <head>
        <title>Lista Alumnos</title>
        
        @* enlace de css *@
        <link href="./css/Alumnos.css" rel="stylesheet" />
    </head>
    
    <body>

        <header class="back">
            <h1 class="text-center">Lista de alumnos</h1>
        </header>
        
        <main>

        </main>
        
        <footer>

        </footer>

    
    </body>
    </html>    

@code {

}
